@import "css3MixinLibrary";

.p-canvas-webcam-prototype {
	position: relative;
	overflow: hidden;
	font-size: 10px;
	font-family: helvetica, sans-serif;

	.mobile-module {
		display: none;
	}

	.desktop-module {
		display: block;
	}

	.btn-download,
	.remove_snapshot,
	.formWrap,
	.success-msg {
		display: none;
	}

	.take_snapshot {
		display: inline-block;
	}

	&.snapshot-on-stage {
		.btn-download,
		.remove_snapshot {
			display: inline-block;
		}

		.take_snapshot,
		.gallery-selector {
			display: none;
		}

		.formWrap {
			display: block;
		}
	}

	&.form-success {
		.cta-wrap,
		.formWrap {
			display: none;
		}

		.success-msg {
			position: relative;
			z-index: 1;
			display: block;
			padding: 50px 0;
			margin-left: 50px;
			width: 250px;

			p {
				color: #fff;
			}

			h3 {
				color: #fff;
				font-size: 18px;
			}
		}
	}

	.hidden {
		display: none;
	}

	.box {
		border: 1px solid #999;

		img {
			height: auto;
			width: 100%;
		}
	}

	#my_camera {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	#myCanvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.cta-wrap {
		padding: 80px 50px;
		position: relative;
		z-index: 2;
		width: 275px;

		button {
			margin-right: 10px;
		}
	}

	.btn {
		cursor: pointer;
		background: transparent;
		color: #FFF;
		padding: 8px 16px;
		text-transform: uppercase;
		font-size: 10px;
		border-radius: 0px;
		border: 1px solid #FFF;
		box-shadow: none;
	}

	.h-btn {
		opacity: 1;
		@include transition(opacity 0.3s ease-in);

		&:hover {
			opacity: 0.7;
		}
	}

	.gallery-selector {
		color: #FFF;

		h6 {
			margin-bottom: 20px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				float: left;
				border: 1px solid #fff;
				padding: 5px 8px;
				margin-right: 10px;
				cursor: pointer;
			}
		}
	}

	.formWrap {
		position: relative;
		z-index: 1;
		color: #FFF;
		width: 200px;
		margin-left: 50px;

		label {
			display: block;
			margin-bottom: 20px;
			text-transform: uppercase;

			span {
				display: block;
				margin-bottom: 10px;
			}

			input {
				display: block;
				background: transparent;
				border: 1px solid #FFF;
				box-shadow: none;
				color: #FFF;
				padding: 5px 10px;
				text-transform: uppercase;
				font-size: 8px;
				line-height: 16px;
			}

			input::-webkit-input-placeholder {
				color: #FFF;
				font-size: 8px;
			}

			input:-moz-placeholder {
				color: #FFF;
				font-size: 8px;
			}

			input::-moz-placeholder {
				color: #FFF;
				font-size: 8px;
			}

			input:-ms-input-placeholder {
				color: #FFF;
				font-size: 8px;
			}
		}

		input[type="submit"] {
			background: transparent;
			color: #FFF;
			border: 1px solid #FFF;
			text-transform: uppercase;
			padding: 5px 10px;
		}
	}

	.swiper-container {
		width: 100%;
		height: auto;
		position: relative;

		.swiper-wrapper {
			.swiper-slide {
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.mobile-module {
		.cta-wrap {
			position: absolute;
			bottom: 0px;
			left: 0;
			z-index: 2;
			padding: 0;
			margin: 50px;

			ul {
				li {
					color: #fff;
					border: 1px solid #fff;
				}
			}

			h6 {
				color: #fff;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.desktop-module {
			display: none;
		}

		.mobile-module {
			display: block;
		}

		#my_camera,
		#myCanvas {
			display: none;
		}

		.btn,
		.cta-wrap {
			color: #000;

			ul li {
				border: 1px solid #000;
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}

		.btn {
			border: 1px solid #000;
		}
	}
}